---
const {
  to,
  title = 'Redirecting...',
} = Astro.props as {
  to: string;
  title?: string;
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta http-equiv="refresh" content={`0;url=${to}`} />
    <link rel="canonical" href={to} />
  </head>
  <body>
    <p>Redirecting to <a href={to}>{to}</a>...</p>
    <script is:inline define:vars={{ to }}>
      window.location.replace(to);
    </script>
  </body>
</html>
